nav.navbar.navbar-default.navbar-fixed-top
 .container
  .navbar-header
   a.navbar-brand(href="#") !MBA-eSports
  .nav.navbar-nav.navbar-right
   li
    a(href="#section_purpose") PURPOSE
   li
    a(href="#section_about") ABOUT US
   li
    a(href="#section_video") VIDEO
    
header.jumbotron
 .container
 
section#section_purpose
 .container
  .row
    .col-sm-5.img
    .col-sm-7
      h2 隱霸電競團隊效仿狼群團結、全力以赴的精神，做好每一次的活動；辦好每一次的賽事。接下來，還請繼續支持我們，讓我們更有動力的，與你們一同創造更多璀璨的回憶。
section#section_about
 .container
  .row
    .col-sm-4
     img(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/31946514_2038090316447730_545015282389745664_o.jpg?_nc_cat=103&_nc_ht=scontent-tpe1-1.xx&oh=8415a139c4c228b8100a0b2628b53026&oe=5CB93828", alt="")
     h3 成員介紹
     p <a href="https://www.facebook.com/notes/%E9%9A%B1%E9%9C%B8%E9%9B%BB%E7%AB%B6/%E9%9A%B1%E9%9C%B8%E9%9B%BB%E7%AB%B6%E4%BA%BA%E7%89%A9%E8%AA%8Cep1-%E7%B8%BD%E6%98%AF%E9%96%92%E4%B8%8D%E4%B8%8B%E4%BE%86%E7%9A%84%E5%9F%B7%E8%A1%8C%E9%95%B7%E9%96%83%E9%9B%BB/2104636646459763/">執行長 閃電</a>
     p <a href="https://www.facebook.com/notes/%E9%9A%B1%E9%9C%B8%E9%9B%BB%E7%AB%B6/%E9%9A%B1%E9%9C%B8%E9%9B%BB%E7%AB%B6%E4%BA%BA%E7%89%A9%E8%AA%8Cep2-%E9%9B%96%E7%84%B6%E7%B7%8A%E5%BC%B5%E4%BD%86%E5%8D%BB%E6%9C%89%E8%91%97%E5%87%BA%E4%BA%BA%E6%84%8F%E8%A1%A8%E7%9A%84%E5%A5%BD%E8%A1%A8%E7%8F%BE%E7%9A%84%E9%98%BF%E8%B1%AA%E8%80%81%E5%B8%AB/2104639023126192/">總監督 阿豪</a>
     p <a href="https://www.facebook.com/notes/%E9%9A%B1%E9%9C%B8%E9%9B%BB%E7%AB%B6/%E9%9A%B1%E9%9C%B8%E9%9B%BB%E7%AB%B6%E4%BA%BA%E7%89%A9%E8%AA%8Cep5-%E7%B8%BD%E6%98%AF%E8%A2%AB%E5%A3%93%E6%A6%A8%E7%9A%84%E6%B4%BB%E5%8B%95%E9%95%B7%E9%98%BF%E5%81%89/2104653113124783/">活動長 Awei</a>
     p 公關長 小毅

    .col-sm-4
     img(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t31.0-8/10620337_1466772586912842_30872789505203850_o.png?_nc_cat=111&_nc_ht=scontent-tpe1-1.xx&oh=dfa10b2ec5ab11b8791f4d6292dbbcae&oe=5CC01496", alt="")
     
     h3 活動經歷
     p HSSL高校星海爭霸聯賽
     p HSL2高校星海爭霸二聯賽
     p 高校星海爭霸二擂台賽
     p TNDL忍豆風雲聯賽
     p HLCL高校英雄聯盟聯賽
     p HTL爐石戰紀戰隊聯賽
     p STC星海爭霸二戰隊聯賽
     p CSL冠軍召喚師聯賽
     p MES中單極限挑戰賽
    .col-sm-4
     img(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t31.0-8/12419183_1655621761361256_7297026896654447486_o.jpg?_nc_cat=104&_nc_ht=scontent-tpe1-1.xx&oh=7f8eb2c988ea9fe2700134945ea62dd8&oe=5C8B69BA", alt="")
     h3 聯絡我們
     p  Email:<a href="mailto:imbapsport@gmail.com">imbapsport@gmail.com</a>
     p  FaceBook:<a href="https://www.facebook.com/imba.esports/">隱霸電競</a>
     p 
 section#section_video
  .container
   .row
    .col-sm-12
     h1 CSL冠軍召喚師聯賽 賽事精華
     hr
    .col-sm-12
     .embed-responsive.embed-responsive-16by9
          
      <iframe width="960" height="540" src="https://www.youtube.com/embed/ppwGFsGbXI4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
