nav.navbar.navbar-default.navbar-fixed-top
 .container
  .navbar-header
   a.navbar-brand(href="#") !MBA-eSports
  .nav.navbar-nav.navbar-right
   li
    a(href="#section_purpose") PURPOSE
   li
    a(href="#section_about") ABOUT US
   li
    a(href="#section_video") VIDEO
    
header.jumbotron
 .container
 
section#section_purpose
 .container
  .row
    .col-sm-5.img
    .col-sm-7
      h2 隱霸電競團隊效仿狼群團結、全力以赴的精神，做好每一次的活動；辦好每一次的賽事。接下來，還請繼續支持我們，讓我們更有動力的，與你們一同創造更多璀璨的回憶。
section#section_about
 .container
  .row
    .col-sm-4
     img(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/31946514_2038090316447730_545015282389745664_o.jpg?_nc_cat=103&_nc_ht=scontent-tpe1-1.xx&oh=8415a139c4c228b8100a0b2628b53026&oe=5CB93828", alt="")
     h3 成員介紹
     p 執行長 閃電
     p 總監督 阿豪
     p 活動長 Awei
     p 公關長 小毅

    .col-sm-4
     img(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t31.0-8/10620337_1466772586912842_30872789505203850_o.png?_nc_cat=111&_nc_ht=scontent-tpe1-1.xx&oh=dfa10b2ec5ab11b8791f4d6292dbbcae&oe=5CC01496", alt="")
     
     h3 活動經歷
     p HSSL高校星海爭霸聯賽
     p HSL2高校星海爭霸二聯賽
     p 高校星海爭霸二擂台賽
     p TNDL忍豆風雲聯賽
     p HLCL高校英雄聯盟聯賽
     p HTL爐石戰紀戰隊聯賽
     p STC星海爭霸二戰隊聯賽
     p CSL冠軍召喚師聯賽
     p MES中單極限挑戰賽
    .col-sm-4
     img(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t31.0-8/12419183_1655621761361256_7297026896654447486_o.jpg?_nc_cat=104&_nc_ht=scontent-tpe1-1.xx&oh=7f8eb2c988ea9fe2700134945ea62dd8&oe=5C8B69BA", alt="")
     h3 聯絡我們
     p  Email:<a href="mailto:imbapsport@gmail.com">imbapsport@gmail.com</a>
     p  FaceBook:<a href="https://www.facebook.com/imba.esports/">隱霸電競</a>
     p 
 section#section_video
  .container
   .row
    .col-sm-12
     h1 CSL冠軍召喚師聯賽 賽事精華
     hr
    .col-sm-12
     .embed-responsive.embed-responsive-16by9
          
      <iframe width="960" height="540" src="https://www.youtube.com/embed/ppwGFsGbXI4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
